In [2]:
# Load pandas
import pandas as pd

In [27]:
# Reading csv
# Getting mode of coloumn and filling NaN values
df = pd.read_csv('dirtydata.csv')
date_mode = df['Date'].mode()[0]
df['Date_2'] = df['Date'].fillna(date_mode,inplace=False)
df

    Duration          Date  Pulse  Maxpulse  Calories        Date_2
0         60  '2020/12/01'    110       130     409.1  '2020/12/01'
1         60  '2020/12/02'    117       145     479.0  '2020/12/02'
2         60  '2020/12/03'    103       135     340.0  '2020/12/03'
3         45  '2020/12/04'    109       175     282.4  '2020/12/04'
4         45  '2020/12/05'    117       148     406.0  '2020/12/05'
5         60  '2020/12/06'    102       127     300.0  '2020/12/06'
6         60  '2020/12/07'    110       136     374.0  '2020/12/07'
7        450  '2020/12/08'    104       134     253.3  '2020/12/08'
8         30  '2020/12/09'    109       133     195.1  '2020/12/09'
9         60  '2020/12/10'     98       124     269.0  '2020/12/10'
10        60  '2020/12/11'    103       147     329.3  '2020/12/11'
11        60  '2020/12/12'    100       120     250.7  '2020/12/12'
12        60  '2020/12/12'    100       120     250.7  '2020/12/12'
13        60  '2020/12/13'    106       128     345.3  '2020/12/13'
14        60  '2020/12/14'    104       132     379.3  '2020/12/14'
15        60  '2020/12/15'     98       123     275.0  '2020/12/15'
16        60  '2020/12/16'     98       120     215.2  '2020/12/16'
17        60  '2020/12/17'    100       120     300.0  '2020/12/17'
18        45  '2020/12/18'     90       112       NaN  '2020/12/18'
19        60  '2020/12/19'    103       123     323.0  '2020/12/19'
20        45  '2020/12/20'     97       125     243.0  '2020/12/20'
21        60  '2020/12/21'    108       131     364.2  '2020/12/21'
22        45           NaN    100       119     282.0  '2020/12/12'
23        60  '2020/12/23'    130       101     300.0  '2020/12/23'
24        45  '2020/12/24'    105       132     246.0  '2020/12/24'
25        60  '2020/12/25'    102       126     334.5  '2020/12/25'
26        60      20201226    100       120     250.0      20201226
27        60  '2020/12/27'     92       118     241.0  '2020/12/27'
28        60  '2020/12/28'    103       132       NaN  '2020/12/28'
29        60  '2020/12/29'    100       132     280.0  '2020/12/29'
30        60  '2020/12/30'    102       129     380.3  '2020/12/30'
31        60  '2020/12/31'     92       115     243.0  '2020/12/31'

In [23]:
# Converting coloumn datatype
df = pd.read_csv('dirtydata.csv')
df['Date_2'] = pd.to_datetime(df['Date'])
df

    Duration          Date  Pulse  Maxpulse  Calories     Date_2
0         60  '2020/12/01'    110       130     409.1 2020-12-01
1         60  '2020/12/02'    117       145     479.0 2020-12-02
2         60  '2020/12/03'    103       135     340.0 2020-12-03
3         45  '2020/12/04'    109       175     282.4 2020-12-04
4         45  '2020/12/05'    117       148     406.0 2020-12-05
5         60  '2020/12/06'    102       127     300.0 2020-12-06
6         60  '2020/12/07'    110       136     374.0 2020-12-07
7        450  '2020/12/08'    104       134     253.3 2020-12-08
8         30  '2020/12/09'    109       133     195.1 2020-12-09
9         60  '2020/12/10'     98       124     269.0 2020-12-10
10        60  '2020/12/11'    103       147     329.3 2020-12-11
11        60  '2020/12/12'    100       120     250.7 2020-12-12
12        60  '2020/12/12'    100       120     250.7 2020-12-12
13        60  '2020/12/13'    106       128     345.3 2020-12-13
14        60  '2020/12/14'    104       132     379.3 2020-12-14
15        60  '2020/12/15'     98       123     275.0 2020-12-15
16        60  '2020/12/16'     98       120     215.2 2020-12-16
17        60  '2020/12/17'    100       120     300.0 2020-12-17
18        45  '2020/12/18'     90       112       NaN 2020-12-18
19        60  '2020/12/19'    103       123     323.0 2020-12-19
20        45  '2020/12/20'     97       125     243.0 2020-12-20
21        60  '2020/12/21'    108       131     364.2 2020-12-21
22        45           NaN    100       119     282.0        NaT
23        60  '2020/12/23'    130       101     300.0 2020-12-23
24        45  '2020/12/24'    105       132     246.0 2020-12-24
25        60  '2020/12/25'    102       126     334.5 2020-12-25
26        60      20201226    100       120     250.0 2020-12-26
27        60  '2020/12/27'     92       118     241.0 2020-12-27
28        60  '2020/12/28'    103       132       NaN 2020-12-28
29        60  '2020/12/29'    100       132     280.0 2020-12-29
30        60  '2020/12/30'    102       129     380.3 2020-12-30
31        60  '2020/12/31'     92       115     243.0 2020-12-31

In [5]:
# Dropping NaN values
df = pd.read_csv('dirtydata.csv')
df.dropna(subset=['Date'],inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [31]:
# Converting column value using apply function

df = pd.read_csv('dirtydata.csv')

df['Duration_updated'] = df['Duration'].apply(lambda x: 120 if x > 120 else x)

df

    Duration          Date  Pulse  Maxpulse  Calories  Duration_updated
0         60  '2020/12/01'    110       130     409.1                60
1         60  '2020/12/02'    117       145     479.0                60
2         60  '2020/12/03'    103       135     340.0                60
3         45  '2020/12/04'    109       175     282.4                45
4         45  '2020/12/05'    117       148     406.0                45
5         60  '2020/12/06'    102       127     300.0                60
6         60  '2020/12/07'    110       136     374.0                60
7        450  '2020/12/08'    104       134     253.3               120
8         30  '2020/12/09'    109       133     195.1                30
9         60  '2020/12/10'     98       124     269.0                60
10        60  '2020/12/11'    103       147     329.3                60
11        60  '2020/12/12'    100       120     250.7                60
12        60  '2020/12/12'    100       120     250.7                60
13        60  '2020/12/13'    106       128     345.3                60
14        60  '2020/12/14'    104       132     379.3                60
15        60  '2020/12/15'     98       123     275.0                60
16        60  '2020/12/16'     98       120     215.2                60
17        60  '2020/12/17'    100       120     300.0                60
18        45  '2020/12/18'     90       112       NaN                45
19        60  '2020/12/19'    103       123     323.0                60
20        45  '2020/12/20'     97       125     243.0                45
21        60  '2020/12/21'    108       131     364.2                60
22        45           NaN    100       119     282.0                45
23        60  '2020/12/23'    130       101     300.0                60
24        45  '2020/12/24'    105       132     246.0                45
25        60  '2020/12/25'    102       126     334.5                60
26        60      20201226    100       120     250.0                60
27        60  '2020/12/27'     92       118     241.0                60
28        60  '2020/12/28'    103       132       NaN                60
29        60  '2020/12/29'    100       132     280.0                60
30        60  '2020/12/30'    102       129     380.3                60
31        60  '2020/12/31'     92       115     243.0                60

In [9]:
# List of Tuples
matrix = [(22, 34, 23),
         (33, 31, 11),
         (44, 16, 21),
         (55, 32, 22),
         (66, 33, 27),
         (77, 35, 11)
         ]
# Create a DataFrame object
dfObj = pd.DataFrame(matrix, columns=list('xyz'), index=list('abcdef'))
dfObj['x'] = dfObj['x'].apply(lambda x : x**2)
dfObj

      x   y   z
a   484  34  23
b  1089  31  11
c  1936  16  21
d  3025  32  22
e  4356  33  27
f  5929  35  11

In [10]:
# List of Tuples
matrix = [(22, 34, 23),
         (33, 31, 11),
         (44, 16, 21),
         (55, 32, 22),
         (66, 33, 27),
         (77, 35, 11)
         ]
# Create a DataFrame object
dfObj = pd.DataFrame(matrix, columns=list('xyz'), index=list('abcdef'))
mdfObj = dfObj.apply(lambda x:x**2 if x.name=='x' else x)
dfObj,mdfObj

(    x   y   z
 a  22  34  23
 b  33  31  11
 c  44  16  21
 d  55  32  22
 e  66  33  27
 f  77  35  11,
       x   y   z
 a   484  34  23
 b  1089  31  11
 c  1936  16  21
 d  3025  32  22
 e  4356  33  27
 f  5929  35  11)

In [17]:
df = pd.read_csv('dirtydata.csv')
for x in df.index:
    if df.loc[x,'Duration'] > 120:
        df.drop(x,inplace=True)

df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [40]:
df = pd.read_csv('dirtydata.csv')
df[df['Duration'].apply(lambda x:x if x < 120 else 0) != 0]

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [41]:
for i in df.columns:
    print(i)

Duration
Date
Pulse
Maxpulse
Calories

In [42]:
# Printing duplicate data
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

In [45]:
# Removing Duplicate
df = pd.read_csv('dirtydata.csv')
df.drop_duplicates(inplace=True)
df

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127     300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132     280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [47]:
# Finding Relationship
df = pd.read_csv('data.csv')
df.corr()

          Duration     Pulse  Maxpulse  Calories
Duration  1.000000 -0.155408  0.009403  0.922717
Pulse    -0.155408  1.000000  0.786535  0.025121
Maxpulse  0.009403  0.786535  1.000000  0.203813
Calories  0.922717  0.025121  0.203813  1.000000